<div class="searchFormArea d-flex mb-4">
  <input id="address" type="textbox" placeholder="登録したい場所は？" class="form-control me-2">
  <input id="searchButton" type="button" value="検索" class="btn btn-warning">
</div>
